.bs-icon.bs-icon-secondary {
  color: #E3E4FA !important;
  background: #262842 !important;
}

.text-secondary {
  color: #E3E4FA !important;
}

@media (max-width:728px) {
  #productos_servicios {
    min-width: 300px !important;
    width: 100% !important;
    min-height: 100px !important;
  }
}

.phir-icon {
  width: 140px;
  height: 140px;
}

